body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo img {
    height: 70px; /* Adjust the size of the logo */
    width: auto;
}

.title {
    text-align: center;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
}

.auth-language {
    display: flex;
    gap: 15px;
    align-items: center;
}

.home-btn, .admin-btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.home-btn:hover, .admin-btn:hover {
    background-color: #45a049;
}   

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.login-form button {
    background-color: #1c2e4a;
    color: #fff;
    border: none;
    padding: 10px;
    width: 80PX;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Password Container */
.password-container {
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
}

.toggle-password {
    background-color: #1c2e4a;
    color: #fff;
    border: none;
    padding: 10px;
    width: 80PX;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
footer a:hover {
    text-decoration: underline;
}